
header {
    background-color: #bbb;
    padding: 20px 0;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

.caixa {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 22px;
}